body{
font-family:Arial, sans-serif;
background: #f2f2f2;
background-image: url("animacao-poke/floresta.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height: 100vh;
}

.pokedex{
    width: 300px;
    margin:40px auto;
    text-align: center;
    display: none;
}

.pokemon-area{
    width: 180px;
    transition: transform 0.5s, filter 0.5s, opacity 0.5s;
} 

button{
    margin: 5px;
    padding: 8px;
    cursor: pointer;
}

.barra-evolucao{
    width: 100%;
    height: 12px;
    background: #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
}

#progresso{
    width: 0%;
    height:100%;
    background:linear-gradient(90deg,#00ff88,#00ccff);
    transition: width 0.1s linear;
}

.pokemon-area{
    position: relative;
    width: 220px;
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: center;
}

#luz{
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: radial-gradient(circle,#ffffff,#00ccff,transparent);
    opacity: 0;
    animation: girar 1.2s linear infinite;
}

@keyframes girar{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.luz-ativa{
    opacity: 1;
}
#telaInicial {
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */
  background: radial-gradient(circle, #1a1a1a, #000);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

#telaInicial h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

#btnStart {
  font-size: 20px;
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #ffcc00;
}

#btnStart:hover {
  transform: scale(1.1);
}
